@import "settings";
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything();

.no-wrap {
    white-space: nowrap;
}

.not-wide {
    width: max-content;
}

.header {
    color: white;
    background-color: black;
    padding: 1rem;
    margin-bottom: 2rem;

    h1 {
        font-size: 1.6rem;
        text-transform: uppercase;

        a {
            color: white;
        }
    }
}

.button {
    font-family: $font-family-monospace;
    text-decoration: none;
}

table {
    font-size: .9rem;

    th {
        text-align: left;
    }
}

.search-plays-form {
    .input-group-label, .button {
       width: 6rem;
    }
}

.input-group.time-span {
    input {
        width: 50%
    }
}

.ui-datepicker {
    background-color: $white;
    border: 1px solid $black;

    .ui-datepicker-header {
        background-color: $black;
        color: $white;
    }

    .ui-icon.ui-icon-circle-triangle-w {
        content: '<';
    }
    .ui-icon.ui-icon-circle-triangle-e {
        content: '>';
    }

    .ui-datepicker-calendar {
        tbody > tr {
            background-color: $white;
        }
        .ui-state-default {
            background-color: $black;
            color: $white;
            &.ui-state-active {
                background-color: $light-gray;
                color: $black;
                border: 1px solid $black;
                &.ui-state-hover {
                    background-color: $light-gray;
                }
            }
            &.ui-state-hover {
                background-color: $medium-gray;
            }
        }
        .ui-state-disabled {
            .ui-state-default {
                background-color: $medium-gray;
                color: $light-gray;
            }
        }
    }
}
