{% extends "ui/base.html" %}

{% load static radio %}

{% block title %}Delete artist {{ artist.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Delete {{ artist.name }}</h1>

    Are you sure? This will also delete {{ artist.play_set.count }} plays.

    <form method="post">
        {% csrf_token %}
        <div class="button-group">
            <button class="alert button" type="submit">
                <i class="fa fa-times"></i> Delete
            </button>
            <a class="button" href="{% url 'music:artist-detail' artist.slug %}">
                <i class="fa fa-chevron-left"></i> Back
            </a>
        </div>
    </form>
</div>
{% endblock %}
