{% extends "ui/base.html" %}

{% load static radio %}

{% block title %}{{ artist.name }}{% endblock %}

{% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
  const chartData = [{% for k, v in chart_data %}[{{ k|date_to_ms }}, {{ v }}],{% endfor %}];

  (function() {
    Highcharts.chart('plays-chart', {
      chart: {
        zoomType: 'x',
      },
      title: {
        text: 'Plays over time',
      },
      subtitle: {
        text: document.ontouchstart === undefined
            ? 'Click and drag in the plot area to zoom in'
            : 'Pinch the chart to zoom in',
      },
      xAxis: {
        type: 'datetime',
      },
      yAxis: {
        title: {
          text: 'Play count',
        },
      },
      legend: {
        enabled: false,
      },
      series: [{
        type: 'column',
        name: 'Played',
        data: chartData,
      }],
    })
  })();
</script>
{% endblock %}

{% block content %}
<div class="container" id="artists-page">

  <h1>{{ artist.name }}</h1>

  {% if user.is_superuser %}
  <div class="callout">
    <h3>Admin actions</h3>
    <div class="button-group">
      <button class="button" data-open="rename-modal">Rename</button>
      <a href="{% url 'music:artist-delete' artist.slug %}" class="button">Delete</a>
    </div>
  </div>

  <div id="rename-modal" class="reveal" data-reveal>
    <h3>Choose default artist name</h3>

    <form action="{% url 'music:set-artist-name' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="artist" value="{{ artist.pk }}" />
      <ul>
      {% for name in artist.names.all %}
        <li>
          <label>
            <input type="radio" name="name" value="{{ name.pk }}" />
            {{ name.name }}
          </label>
        </li>
      {% endfor %}
      </ul>

      <button type="submit" id="merge-artists" class="button">Make default</button>
    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <div class="columns">
    <div class="column">
      <h3>Most played by</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Radio</th>
            <th>Play count</th>
          </tr>
        </thead>
        <tbody>
          {% for radio in radios %}
          <tr>
            <td>{{ radio.1 }}</td>
            <td>{{ radio.2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <h3>Greatest hits</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Song</th>
            <th>Play count</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr>
            <td>{{ song.0 }}</td>
            <td>{{ song.1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="plays-chart"></div>

  <h3>Recent plays</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Radio</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
      {% for play in plays %}
      <tr>
        <td>{{ play.timestamp|date:"Y-m-d H:i:s" }}</td>
        <td>{{ play.radio.name }}</td>
        <td>{{ play.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'radio:plays' %}?artist_name={{ artist.name|urlencode }}" class="button">See more &raquo;</a>
</div>
{% endblock %}
