{% extends "radio/base.html" %}

{% load static %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
<div class="grid-container" id="artists-page">
    <h1>{{ artist.name }}</h1>

    <div class="grid-x grid-margin-x small-up-1 medium-up-2">
        <div class="small-6 cell">
            <h3>Most played by</h3>

            <table class="hover">
                <thead>
                    <tr>
                        <th>Radio</th>
                        <th>Play count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for radio in radios %}
                    <tr>
                        <td>{{ radio.1 }}</td>
                        <td>{{ radio.2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="small-6 cell">
            <h3>Greatest hits</h3>

            <table class="hover">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Play count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.0 }}</td>
                        <td>{{ song.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Recent plays</h3>

    <table class="hover">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Radio</th>
                <th>Song</th>
            </tr>
        </thead>
        <tbody>
            {% for play in plays %}
            <tr>
                <td>{{ play.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td>{{ play.radio.name }}</td>
                <td>{{ play.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
