{% extends "ui/base.html" %}

{% load static radio %}

{% block title %}{{ artist.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'uPlot.min.css' %}" />
<style type="text/css">
#plays-chart {
  margin: 2rem 0;
  width: 100%;
  height: 400px;
}
</style>
{% endblock %}

{% block script %}
<script src="{% static 'uPlot.iife.min.js' %}"></script>

<script type="text/javascript">
  const element = document.getElementById("plays-chart");
  const chartData = [{% for k, v in chart_data %}[{{ k|date_to_ms }}, {{ v }}],{% endfor %}];
  const xValues = [{% for k, v in chart_data %}{{ k|date_to_ts }},{% endfor %}];
  const yValues = [{% for k, v in chart_data %}{{ v }},{% endfor %}];

  (function() {
    const data = [xValues, yValues];
    const fmtDate = uPlot.fmtDate('{YYYY}-{MM}-{DD}');

    let opts = {
      title: "Weekly plays",
      width: element.clientWidth,
      height: element.clientHeight,
      series: [
        {
          label: "Week of",
          value: (self, ts) => ts ? fmtDate(new Date(ts * 1000)) : null,
        },
        {
          paths: uPlot.paths.bars(),
          fill: "SteelBlue",
          label: "Plays"
        }
      ],
    };

    const uplot = new uPlot(opts, data, element);

    function resize() {
      uplot.setSize({
        width: element.clientWidth,
        height: element.clientHeight - 60,  // Not sure why this is needed but uplot doesn't respect the height
      });
    }

    resize();
    window.addEventListener("resize", resize);
  })();
</script>
{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ artist.name }}</h1>

  {% if user.is_superuser %}
  <div class="callout">
    <h3>Admin actions</h3>
    <div class="button-group">
      <a href="{% url 'music:artist-delete' artist.slug %}" class="button">Delete</a>
    </div>

    <h3>Choose default artist name</h3>

    <form action="{% url 'music:set-artist-name' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="artist" value="{{ artist.pk }}" />
      <ul>
      {% for name in artist.names.all %}
        <li>
          <label>
            <input type="radio" name="name" value="{{ name.pk }}" />
            {{ name.name }}
          </label>
        </li>
      {% endfor %}
      </ul>

      <button type="submit" class="button no-margin">Make default</button>
    </form>
  </div>
  {% endif %}

  <div class="columns">
    <div class="column">
      <h3>Most played by</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Radio</th>
            <th>Play count</th>
          </tr>
        </thead>
        <tbody>
          {% for radio in radios %}
          <tr>
            <td>{{ radio.1 }}</td>
            <td>{{ radio.2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <h3>Greatest hits</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Song</th>
            <th>Play count</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr>
            <td>{{ song.0 }}</td>
            <td>{{ song.1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="plays-chart"></div>

  <h3>Recent plays</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Radio</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
      {% for play in plays %}
      <tr>
        <td>{{ play.timestamp }}</td>
        <td>{{ play.radio.name }}</td>
        <td>{{ play.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'radio:plays' %}?artist_name={{ artist.name|urlencode }}" class="button">See more &raquo;</a>
</div>
{% endblock %}
