{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
    },
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "rules": {
        // Require trailing commas when the last element or property is in a
        // different line than the closing bracket.
        "comma-dangle": ["error", "always-multiline"],

        // Disallow trailing whitespace at the end of lines.
        "no-trailing-spaces": ["error", { "skipBlankLines": false }],

        // Disallow strict mode directives
        "strict": ["error", "never"],

        // Allow any quotes
        "quotes": "off",

        // Indent by 4
        "indent": ["error", 4],
    }
}
