#
# Radio Scraper
# Example project.env file
#

# Path to the project root, used by systemd to locate the project
PROJECT_ROOT=

# Path to virtual environment, used by systemd to locate the binaries
ENV_ROOT=

# Enable debug mode for development (defaults to False)
DEBUG=True

# Django secret key
# https://docs.djangoproject.com/en/1.11/howto/deployment/checklist/#secret-key
SECRET_KEY=

# Database URL
# https://github.com/kennethreitz/dj-database-url
DATABASE_URL=

# Sentry DSN
# Optional. If set, will report errors to Sentry
SENTRY_DSN=

# Comma separated list of allowed hosts for Django
# https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-ALLOWED_HOSTS
ALLOWED_HOSTS=
