.button {
  color: var(--color);
  background-color: var(--background-dark);
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  margin-bottom: 1rem;
  padding: 0.75em 0.9em;
  text-decoration: none;

  &:hover {
    background-color: var(--background-gray);
  }

  &[disabled] {
    background-color: var(--background-dim);
    cursor: not-allowed;
  }

  &.hollow {
    border: 1px solid var(--color);
    color: var(--color);
    background-color: transparent;
  }
}

.button-group {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  .button {
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: 0.9rem;
    flex: 0 0 auto;
  }
}
