.radio-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media screen and (min-width: 32em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 64em) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  .radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #0a0a0a;
    padding: 1rem;
    text-decoration: none;

    p {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $off-white;
    }

    &.outage {
      background: repeating-linear-gradient(
        -45deg,
        $off-white,
        $off-white 20px,
        white 20px,
        white 40px
      );

      &:hover {
        background: repeating-linear-gradient(
          -45deg,
          $light-gray,
          $light-gray 20px,
          $off-white 20px,
          $off-white 40px
        );
      }
    }
  }
}
