<a href="{% url 'music:artist-list-by-letter' '*' %}">*</a>
<a href="{% url 'music:artist-list-by-letter' 'a' %}">A</a>
<a href="{% url 'music:artist-list-by-letter' 'b' %}">B</a>
<a href="{% url 'music:artist-list-by-letter' 'c' %}">C</a>
<a href="{% url 'music:artist-list-by-letter' 'd' %}">D</a>
<a href="{% url 'music:artist-list-by-letter' 'e' %}">E</a>
<a href="{% url 'music:artist-list-by-letter' 'f' %}">F</a>
<a href="{% url 'music:artist-list-by-letter' 'g' %}">G</a>
<a href="{% url 'music:artist-list-by-letter' 'h' %}">H</a>
<a href="{% url 'music:artist-list-by-letter' 'i' %}">I</a>
<a href="{% url 'music:artist-list-by-letter' 'j' %}">J</a>
<a href="{% url 'music:artist-list-by-letter' 'k' %}">K</a>
<a href="{% url 'music:artist-list-by-letter' 'l' %}">L</a>
<a href="{% url 'music:artist-list-by-letter' 'm' %}">M</a>
<a href="{% url 'music:artist-list-by-letter' 'n' %}">N</a>
<a href="{% url 'music:artist-list-by-letter' 'o' %}">O</a>
<a href="{% url 'music:artist-list-by-letter' 'p' %}">P</a>
<a href="{% url 'music:artist-list-by-letter' 'q' %}">Q</a>
<a href="{% url 'music:artist-list-by-letter' 'r' %}">R</a>
<a href="{% url 'music:artist-list-by-letter' 's' %}">S</a>
<a href="{% url 'music:artist-list-by-letter' 't' %}">T</a>
<a href="{% url 'music:artist-list-by-letter' 'u' %}">U</a>
<a href="{% url 'music:artist-list-by-letter' 'v' %}">V</a>
<a href="{% url 'music:artist-list-by-letter' 'w' %}">W</a>
<a href="{% url 'music:artist-list-by-letter' 'x' %}">X</a>
<a href="{% url 'music:artist-list-by-letter' 'y' %}">Y</a>
<a href="{% url 'music:artist-list-by-letter' 'z' %}">Z</a>
