{% extends "ui/base.html" %}

{% load radio %}

{% block title %}Failures{% endblock %}

{% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li>Loaders</li>
    <li>Failures</li>
  </ul>

  <h1>Loader failures</h1>

  {% if failures %}
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Radio</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        {% for failure in failures %}
          <tr>
            <td>
              <a href="{% url 'loaders:failure-detail' failure.pk %}">
                {{ failure.timestamp|date:"Y-m-d H:i:s" }}
              </a>
            </td>
            <td>{{ failure.radio.name }}</td>
            <td>
              {% if failure.response %}
                HTTP {{ failure.response.status_code|http_status }}
              {% else %}
                {{ failure.error_message }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no failures! \o/</p>
  {% endif %}

  {% include "ui/partial/pagination.html" %}

</div>
{% endblock %}
