{% extends "ui/base.html" %}

{% load radio %}

{% block title %}Failure #{{ failure.pk }}{% endblock %}

{% block content %}
<div class="container">
    <ul class="breadcrumbs">
        <li>Loaders</li>
        <li><a href="{% url 'loaders:failure-list' %}">Failures</a></li>
        <li>Failure #{{ failure.pk }}</li>
    </ul>

    <h1>Loader failure #{{ failure.pk }}</h1>

    <p>
        Radio: <b>{{ failure.radio }}</b><br />
        Timestamp: <b>{{ failure.timestamp|date:"Y-m-d H:i:s" }}</b>
    </p>

    {% if failure.error_message %}
        <div class="alert callout">
            {{ failure.error_message }}
        </div>
    {% endif %}

    {% if failure.stack_trace %}
        <pre class="callout">{{ failure.stack_trace }}</pre>
    {% endif %}

    <h3>Request &amp; response</h3>

    {% if failure.request %}
        <p>
            &gt;&gt;&gt; <b>{{ failure.request.method }}</b>
            {{ failure.request.url }}
        </p>

        {% if failure.request.post_data %}
            <pre class="callout">{{ failure.request.post_data }}</pre>
        {% endif %}
    {% endif %}

    {% if failure.response %}
        <p>
            &lt;&lt;&lt; <b>{{ failure.response.status_code|http_status }}</b>
        </p>

        {% if failure.response.contents %}
            <p class="callout">
                {{ failure.response.contents }}
            </p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
