{% extends "radio/superbase.html" %}

{% block body %}
  <div class="top-bar-container">
    <div class="grid-container">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="{% url 'radio:index' %}">Radio Scraper</a>
            </li>
            <li class="separator">//</li>
            <li>
              <a href="{% url 'radio:plays' %}">Plays</a>
            </li>
            <li class="separator">//</li>
            <li>
              <a href="{% url 'radio:stats' %}">Stats</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
{% endblock %}
