{% extends "radio/base.html" %}

{% block title %}Most played{% endblock %}

{% block content %}
<div class="row column">
    <table class="hover not-wide">
        <tr>
            <th>Rank</th>
            <th class="text-left">Artist</th>
            <th class="text-left">Title</th>
            <th>Played</th>
        </tr>
        {% for play in top_plays %}
        <tr>
            <td>#{{ forloop.counter }}</td>
            <td>{{ play.artist }}</td>
            <td>{{ play.title }}</td>
            <td class="text-center">{{ play.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
