{% extends "radio/base.html" %}

{% block title %}Plays{% endblock %}

{% block after_title %}
    {% if radio %}
        // {{ radio.name }}
    {% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">

var playsPath = "{% url 'radio:plays' %}";

function searchWith(params) {
    var uri = new URI();
    uri.removeQuery(["page"]);
    uri.setQuery(params);
    window.location.href = uri.toString();
}

function clearSearch(fields) {
    fields =  fields || ["artist", "title"];
    var uri = new URI();
    uri.removeQuery(["page"]);
    uri.removeQuery(fields);
    window.location.href = uri.toString();
}

function goToPath(path) {
    var uri = new URI();
    uri.removeQuery(["page"]);
    uri.pathname(path);
    window.location.href = uri.toString();
}

$(document).ready(function () {
    $('a[data-artist]').click(function (e) {
        e.preventDefault();
        searchWith({ "artist": this.dataset.artist });
    });

    $('a[data-title]').click(function (e) {
        e.preventDefault();
        searchWith({ "title": this.dataset.title });
    });

    $('a[data-radio]').click(function (e) {
        e.preventDefault();
        console.log(this.dataset);
        goToPath(playsPath + this.dataset.radio);
    });

    $('[data-clear-field]').click(function (e) {
        e.preventDefault();
        clearSearch(this.dataset.clearField);
    });

    $('[data-clear-all]').click(function (e) {
        e.preventDefault();
        window.location.href = playsPath;
    });

    $('a[data-paging]').click(function (e) {
        e.preventDefault();
        searchWith({ "page": this.dataset.page });
    });

    $('[data-radio-select]').change(function (e) {
        e.preventDefault();
        goToPath(playsPath + this.value);
    });

    $('[data-clear-radio]').click(function (e) {
        e.preventDefault();
        goToPath(playsPath);
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row column">
    <form class="search-plays-form" action=".">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <div class="input-group">
                    <span class="input-group-label">Radio</span>
                    <select data-radio-select name="radio" class="input-group-field">
                        <option value=""{% if not radio %} selected{% endif %}>--- All ---</option>
                        {% for r in radios %}
                            <option value="{{ r.slug }}" {% if r == radio %}selected{% endif %}>
                                {{ r.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-button">
                        <a href="#" data-clear-radio class="button">&times;</a>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-label">Artist</span>
                    <input name="artist" class="input-group-field" type="text" value="{{ artist|default:"" }}">
                    <div class="input-group-button">
                        <a href="#" data-clear-field="artist" class="button">&times;</a>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-label">Title</span>
                    <input name="title" class="input-group-field" type="text" value="{{ title|default:"" }}">
                    <div class="input-group-button">
                        <a href="#" data-clear-field="title" class="button">&times;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <button class="button" type="submit">Search</button>
            <button class="button" data-clear-all>Clear</button>
        </div>
    </form>

    {% if plays %}
    <table class="hover">
        <tr>
            <th>Time</th>
            <th>Radio</th>
            <th>Artist</th>
            <th>Title</th>
        </tr>
        {% for play in plays %}
        <tr>
            <td class="no-wrap">
                {{ play.timestamp|date:"d.m.Y @ H:i" }}
            </td>
            <td class="no-wrap">
                <a data-radio="{{ play.radio.slug }}" href="#">{{ play.radio.name }}</a>
            </td>
            <td>
                <a data-artist="{{ play.artist }}" href="#">{{ play.artist }}</a>
            </td>
            <td>
                <a data-title="{{ play.title }}" href="#">{{ play.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5>No plays matching given search parameters found.</h5>
    {% endif %}

    {% include "radio/partial/paging.html" %}
</div>
{% endblock %}
