{% extends "ui/base.html" %}

{% load static %}

{% block title %}Plays{% endblock %}

{% block content %}
<div class="container">
  <form class="horizontal" action=".">
    <div class="form-row">
      <label for="start">From</label>
      <input type="date" id="start" name="start" value="{{ start|date:'Y-m-d' }}" />
    </div>

    <div class="form-row">
      <label for="start">Until</label>
      <input type="date" id="end" name="end" value="{{ end|date:'Y-m-d' }}" />
    </div>

    <div class="form-row">
      <label>Radio</label>
      <select data-radio-select name="radio" class="input-group-field">
        <option value=""{% if not radio %} selected{% endif %}>
          --- All ---
        </option>
        {% for r in radios %}
          <option value="{{ r.slug }}" {% if r.slug == radio %}selected{% endif %}>
            {{ r.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label>Artist</label>
      <input name="artist_name" type="search" value="{{ artist_name|default:"" }}" placeholder="Search by artist">
    </div>

    <div class="form-row">
      <label>Title</label>
      <input name="title" type="search" value="{{ title|default:"" }}" placeholder="Search by title">
    </div>

    <div>
      <button class="button" type="submit">Search</button>
      <a href="{{ request.path }}" class="button">Clear</a>
    </div>
  </form>

  {% if plays %}
  <table id="plays-table" class="collapsible table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Radio</th>
        <th>Artist</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for play in plays %}
        <tr>
          <td class="no-wrap">
            {{ play.timestamp|date:"d.m.Y @ H:i" }}
          </td>
          <td class="no-wrap">
            <a href="{% url 'radio:stats' play.radio.slug %}">{{ play.radio.name }}</a>
          </td>
          <td>
            <a href="{% url 'music:artist-detail' play.artist.slug %}">{{ play.artist_name }}</a><span class="show-mobile-only">:</span>
          </td>
          <td>
            {{ play.title }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h5>No plays matching given search parameters.</h5>
  {% endif %}

  <div class="columns is-mobile">
    <div class="column">
      <a href="{{ first_link }}" class="button">&laquo; First</a>
    </div>
    <div class="column text-right">
      {% if next_link %}
        <a href="{{ next_link }}" class="button">Next &rsaquo;</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
