{% extends "radio/base.html" %}

{% load static %}

{% block title %}Stats{% endblock %}

{% block script %}
<script src="{% static 'stats.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="grid-container" id="stats-page">

    <div class="button-group">
        <a href="{% url 'radio:stats' %}" class="button {% if not radio %}secondary{% endif %}">All</a>
        {% for r in radios %}
            {% if r == radio %}
            <a disabled class="button">
            {% else %}
            <a href="{% url 'radio:stats' radio_slug=r.slug %}" class="button">
            {% endif %}
                {{ r.name }}
            </a>
        {% endfor %}
    </div>

    <div class="time-selectors">
        <div class="no-wrap">
            <div>Year</div>
            <div class="button-group">
                <button class="button" data-prev-year>&lsaquo;</button>
                <button class="hollow button" data-year>{{ year }}</button>
                <button class="button" data-next-year>&rsaquo;</button>
            </div>
        </div>
        <div class="no-wrap">
            <div>Month</div>
            <div class="button-group">
                <button class="button" data-prev-month>&lsaquo;</button>
                <button class="hollow button" data-month>{{ month }}</button>
                <button class="button" data-next-month>&rsaquo;</button>
            </div>
        </div>
    </div>

    <h4>Song stats</h4>

    <table class="song-stats-table hover">
        <tr>
            <th>Radio</th>
            <th>Distinct songs</th>
            <th class="text-center" colspan="2">Played once</th>
            <th class="text-center" colspan="2">Played multiple</th>
            <th>Repeated on average</th>
        </tr>
        {% for stats in song_stats %}
            <tr>
                <td>{{ stats.radio_name }}</td>
                <td>{{ stats.distinct_count }}</td>
                <td>{{ stats.single_play_count }}</td>
                <td>{{ stats.single_play_perc|floatformat }}%</td>
                <td>{{ stats.repeated_count }}</td>
                <td>{{ stats.repeated_perc|floatformat }}%</td>
                <td>{{ stats.avg_repetitions|floatformat }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Artist stats</h4>

    <table class="artist-stats-table hover">
        <tr>
            <th>Radio</th>
            <th>Distinct artists</th>
            <th class="text-center" colspan="2">Played once</th>
            <th class="text-center" colspan="2">Played multiple</th>
            <th>Repeated on average</th>
        </tr>
        {% for stats in artist_stats %}
            <tr>
                <td>{{ stats.radio_name }}</td>
                <td>{{ stats.distinct_count }}</td>
                <td>{{ stats.single_play_count }}</td>
                <td>{{ stats.single_play_perc|floatformat }}%</td>
                <td>{{ stats.repeated_count }}</td>
                <td>{{ stats.repeated_perc|floatformat }}%</td>
                <td>{{ stats.avg_repetitions|floatformat }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if most_played_songs or most_played_artists%}
    <div class="grid-x grid-margin-x">
        {% if most_played_songs %}
        <div class="small-12 large-7 cell">
            <h3>Top 30 songs</h3>

            <table class="hover">
                <tr>
                    <th>Rank</th>
                    <th class="text-left">Song</th>
                    <th>Played</th>
                </tr>
                {% for play in most_played_songs %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ play.artist_name }} - {{ play.title }}</td>
                    <td class="text-center">{{ play.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if most_played_artists %}
        <div class="small-12 large-5 cell">
            <h3>Top 30 artists</h3>

            <table class="hover">
                <tr>
                    <th>Rank</th>
                    <th class="text-left">Artist</th>
                    <th>Played</th>
                </tr>
                {% for play in most_played_artists %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ play.artist_name }}</td>
                    <td class="text-center">{{ play.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

    </div>
    {% else %}
    <p>No data exists for this period.</p>
    {% endif %}
</div>
{% endblock %}
