{% extends "radio/base.html" %}

{% load static %}

{% block title %}Stats{% endblock %}

{% block script %}
<script src="{% static 'stats.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row column" id="stats-page">

    <div class="button-group">
        <a href="{% url 'radio:stats' %}" class="button {% if not radio %}secondary{% endif %}">All</a>
        {% for r in radios %}
            {% if r == radio %}
            <a disabled class="button">
            {% else %}
            <a href="{% url 'radio:stats' radio_slug=r.slug %}" class="button">
            {% endif %}
                {{ r.name }}
            </a>
        {% endfor %}
    </div>

    <div class="time-selectors">
        <div>
            <div>Year</div>
            <div class="button-group">
                <button class="button" data-prev-year>&lsaquo;</button>
                <button class="hollow button" data-year>{{ year }}</button>
                <button class="button" data-next-year>&rsaquo;</button>
            </div>
        </div>
        <div>
            <div>Month</div>
            <div class="button-group">
                <button class="button" data-prev-month>&lsaquo;</button>
                <button class="hollow button" data-month>{{ month }}</button>
                <button class="button" data-next-month>&rsaquo;</button>
            </div>
        </div>
    </div>

    {% if top_plays or bottom_plays %}
    <div class="row">
        <div class="small-12 medium-6 columns">
            <h3>Top 20</h3>

            <table class="hover">
                <tr>
                    <th>Rank</th>
                    <th class="text-left">Artist</th>
                    <th class="text-left">Title</th>
                    <th>Played</th>
                </tr>
                {% for play in top_plays %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ play.artist }}</td>
                    <td>{{ play.title }}</td>
                    <td class="text-center">{{ play.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="small-12 medium-6 columns">
            <h3>Bottom 20</h3>

            <table class="hover">
                <tr>
                    <th>Rank</th>
                    <th class="text-left">Artist</th>
                    <th class="text-left">Title</th>
                    <th>Played</th>
                </tr>
                {% for play in bottom_plays %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ play.artist }}</td>
                    <td>{{ play.title }}</td>
                    <td class="text-center">{{ play.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
    <p>No data exists for this period.</p>
    {% endif %}
</div>
{% endblock %}
