#index-page {

    .radio {
        border: 1px solid $black;
        margin-bottom: 1rem;
        padding: 1rem;

        p {
            font-size: 0.9rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }

    }
    .outage {
        margin-top: -1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: smaller;
        color: $white;
        background-color: $black;
    }
}
