#stats-page {
    .button.hollow {
        width: rem;
    }

    .time-selectors {
        display: flex;

        div {
            margin-right: 1rem;
        }
    }

    .song-stats-table,
    .artist-stats-table {
        td {
            width: 13%;

            &:first-child {
                width: 22%;
                white-space: nowrap;
            }
        }
    }
}
