#stats-page {
    .button.hollow {
        width: rem;
    }

    .time-selectors {
        display: flex;

        div {
            margin-right: 1rem;
        }
    }

    table.stats-table {
        small {
            font-weight: normal;
        }
    }
}
