{% extends "ui/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  <h1>Dashboard</h1>

  <p>Welcome dear admin!</p>

  {% if active_outages %}
    <h3>Active outages</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Since</th>
          <th>Radio</th>
          <th>Failures</th>
        </tr>
      </thead>
      <tbody>
        {% for outage in active_outages %}
          <tr>
            <td>
              <a href="{% url 'dashboard:outage-detail' outage.pk %}">
                {{ outage.start }}
              </a>
            </td>
            <td>{{ outage.radio }}</td>
            <td>{{ outage.failure_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no active outages. \m/</p>
  {% endif %}

  {% if recent_failures %}
    <h3>Recent failures</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Radio</th>
          <th>Error message</th>
        </tr>
      </thead>
      <tbody>
        {% for failure in recent_failures %}
          <tr>
            <td>
              <a href="{% url 'dashboard:failure-detail' failure.pk %}">
                {{ failure.timestamp }}
              </a>
            </td>
            <td>{{ failure.radio.name }}</td>
            <td>{{ failure.error_message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no active outages. \m/</p>
  {% endif %}
</div>
{% endblock %}
