{% extends "ui/superbase.html" %}

{% block body %}
  <header>
    <div class="container">
      <h1>
        <a href="{% url 'ui:index' %}">Radio Scraper</a>
      </h1>
      <a href="{% url 'radio:plays' %}">Plays</a>
      <span class="separator">//</span>
      <a href="{% url 'radio:stats' %}">Stats</a>
      <span class="separator">//</span>
      <a href="{% url 'music:artist-list' %}">Artists</a>
      {% if user.is_authenticated %}
        <span class="separator">//</span>
        <a href="{% url 'dashboard:index' %}">Dashboard</a>
      {% endif %}
    </div>
  </header>

  <main>
    {% include "ui/partial/messages.html" %}
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div>
      Radioscraper is <a href="https://github.com/ihabunek/radioscraper/">open source</a>
      <br class="show-mobile-only" />
      <span class="separator">♥</span>
      <br class="show-mobile-only" />
      Authored by <a href="https://twitter.com/ihabunek">@ihabunek</a>
    </div>
  </footer>
{% endblock %}
