{% extends "ui/superbase.html" %}

{% block body %}
  <header>
    <div class="grid-container">
      <h1>
        <a href="{% url 'ui:index' %}">Radio Scraper</a>
      </h1>
      <a href="{% url 'radio:plays' %}">Plays</a>
      <span class="separator">//</span>
      <a href="{% url 'radio:stats' %}">Stats</a>
      <span class="separator">//</span>
      <a href="{% url 'music:artist-list' %}">Artists</a>
    </div>
  </header>

  {% include "ui/partial/messages.html" %}

  {% block content %}{% endblock %}
{% endblock %}
