{% extends "ui/base.html" %}

{% load radio %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="index-page" class="container">
  <h1>Radio scraper</h1>

  <p>Collecting radio playlists for no particular reason.</p>

  <p>
    <a href="{% url 'radio:plays' %}">List plays</a> ·
    <a href="{% url 'radio:stats' %}">Statistics</a>
  </p>

  {% include "ui/partial/radios.html" with radios=online_radios %}

  {% if offline_radios %}
    <h2 style="margin-top: 2rem">Offline stations</h2>
    <p>Stations which are no more :(</p>

    {% include "ui/partial/radios.html" with radios=offline_radios %}
  {% endif %}
</div>
{% endblock %}
