{% extends "ui/base.html" %}

{% load radio %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="index-page" class="container">
  <h1>Radio scraper</h1>

  <p>Collecting radio playlists for no particular reason.</p>

  <p>
    <a href="{% url 'radio:plays' %}">List plays</a> ·
    <a href="{% url 'radio:stats' %}">Statistics</a>
  </p>

  <div class="radio-grid">
    {% for radio in radios %}
      <a href="{% url 'radio:plays' %}?radio={{ radio.slug }}" class="radio">
        <h5>{{ radio.name }}</h5>
        <p>
          {{ radio.play_count|human_format }} plays
          {% if radio.first_play.timestamp %}
          <br />
          since {{ radio.first_play.timestamp.date }}
          {% endif %}
        </p>

        {% if radio.last_play %}
        <p>
          Last play: <br />
          <b>{{ radio.last_play.title }}</b>
          by <b>{{ radio.last_play.artist_name }}</b><br />
          at <i class="gray">{{ radio.last_play.timestamp }}</i>
        </p>
        {% endif %}
        {% if radio.show_outage %}
          <div class="outage">No recent data</div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
