{% comment %}
Displays Django messages.
https://docs.djangoproject.com/en/1.11/ref/contrib/messages/
{% endcomment %}

{% if messages %}
<div class="grid-container">
    <div class="messages">
        {% for message in messages %}
            <div class="callout {{ message.tags }}" data-closable>
                {{ message }}
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
